/* Theme
-------------------------------------------------- */
:root {
    --gap: 24px;
    --content-gap: 40px;
    --nav-width: 1024px;
    --main-width: 640px;
    --header-height: 65px;
    --footer-height: 70px;
    --footer-color: #F6F7F8;
    --radius: 8px;

    --theme: #fff;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --theme-background: #fff;
    --icons-color: #555555;
    --button-border: 1px solid #C3C3C3;

    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
    --border-color: 1px solid #cccc;
}

.dark {
    --theme: #0B1033;
    /* This color is the color of the highlight of the post and the background of the post as well.*/
    --primary: rgba(255, 255, 255, 0.88);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --footer-color: #0B1033;
    --theme-background: #030026;
    --icons-color: none;
    --button-border: none;

    --hljs-bg: #0C1033;
    --code-bg: #0C1033;
    --border: #154360;
    --border-color: none;
}

.list {
    background: linear-gradient(135deg, #ffffff, #ffffff, #ffffff);
}

.dark.list {
    background: #030026;
}

/* Reset
  -------------------------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Calibre Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Calibre Regular'), url('CalibreRegular.woff') format('woff');
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    color: var(--primary);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    word-break: break-word;
    background: var(--theme-background);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

strong,
b {
    font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary);
    text-decoration: none;
}

figure {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input,
textarea {
    padding: 0;
    font: inherit;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

button,
input[type='button'],
input[type='submit'] {
    cursor: pointer;
}

input,
textarea {
    padding: 0;
    border: 0;
    outline: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    box-shadow: 0 0 0 50px var(--theme-background) inset;
}

img {
    display: block;
    max-width: 100%;
}

/* Header
  -------------------------------------------------- */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    /*This was making about and posts to the righ*/
    margin-left: auto;
    margin-right: auto;
}

.nav a {
    display: block;
    line-height: var(--header-height);
}

.logo{
    margin-left: var(--gap);
    margin-right: var(--gap);
}
.menu {
    margin-left: var(--gap);
    margin-right: var(--gap);
}

.logo a {
    font-size: 20px;
    font-weight: 400;
}

.menu {
    display: flex;
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
}

.menu li+li {
    margin-left: var(--gap);
}

.menu a {
    font-size: 16px;
}

/* Main
  -------------------------------------------------- */
.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin-left: auto;
    margin-right: auto;
    padding: var(--gap);
}

.page-header {
    margin-bottom: 24px;
}

.page-header h1 {
    font-weight: 450 !important;
    font-size: 30px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--primary);
    font-size: 13px;
    line-height: 36px;
    background: var(--theme);
    border-radius: calc(36px / 2);
}

.pagination a:active {
    transform: scale(0.96);
}

.pagination .prev {
    padding-left: 16px;
    padding-right: 18px;
}

.pagination .next {
    margin-left: auto;
    padding-left: 18px;
    padding-right: 16px;
}

.latestPosts {
    margin-bottom: 15px;
}

/* Description
  -------------------------------------------------- */
.description {
    position: relative;
    margin-top: 90px;
    text-align: center;
    display: block;
    margin-bottom: 90px;
    /* margin: 30px 0; */
}

.description h1 {
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1.6;
}

.description h3 {
    font-size: 1.4em;
    font-weight: 350;
    line-height: 1.2;
    color: #333333;
}

/* Post entry
  -------------------------------------------------- */
.first-entry {
    position: relative;
    /* margin-top: 400px; */
    margin-bottom: var(--gap);
    padding: var(--gap);
    transition: box-shadow .3s;
    border: var(--border-color);
    /* Border of the Posts*/
    box-shadow: 0 0 3px rgba(33, 33, 33, .2);
    background: var(--theme);
    border-radius: var(--radius);
    transition: transform 0.1s;
}

.first-entry:active {
    transform: scale(0.96);
}

.first-entry p {
    font-weight: none !important;
    font-size: medium;
}

.first-entry:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    transition: box-shadow .3s;
    border: var(--border-color);
    /* Border of the Posts*/
    box-shadow: 0 0 3px rgba(33, 33, 33, .2);
    background: var(--theme);
    border-radius: var(--radius);
    transition: transform 0.1s;
}

.post-entry:active {
    transform: scale(0.96);
}

.post-entry:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.post-entry p {
    font-size: medium;
}

.entry-header h2 {
    font-size: 24px;
    font-weight: 500 !important;
}

.entry-content {
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

/* Post single
  -------------------------------------------------- */
.post-header {
    margin-top: 24px;
    margin-bottom: var(--content-gap);
    font-weight: 400 !important;
}

.post-title {
    margin-bottom: 2px;
    font-size: 2em;
    font-weight: 600;
    transform: translateX(-2px);
    text-align: center;
}

.post-meta {
    color: var(--secondary);
    font-size: 14px;
    text-align: center;
}

.post-content h1 {
    margin-top: 40px;
    margin-bottom: 32px;
}

.post-content h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 24px;
    margin-bottom: 16px;
}

.post-content h1 {
    font-size: 35px;
    font-weight: 500;
}

.post-content h2 {
    font-size: 1.5em;
    font-weight: 500;
}

.post-content h3 {
    font-size: 24px;
    font-weight: 500;
}

.post-content h4 {
    font-size: 16px;
    font-weight: 500;
}

.post-content h5 {
    font-size: 14px;
    font-weight: 500;
}

.post-content h6 {
    font-size: 12px;
    font-weight: 500;
}

.post-content a {
    /* box-shadow: 0 1px 0 var(--primary); */
    color: #3F9BFF;
}

.post-content a:hover {
    /* box-shadow: 0 1px 0 var(--primary); */
    color: #3F9BFF;
    text-decoration: underline;
}

.post-content a code {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    box-shadow: 0 -1px 0 var(--primary) inset;
}

.post-content del {
    text-decoration: none;
    background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50% / 1px 1px repeat-x;
}

.post-content p {
    font-weight: 310;
}

.post-content p,
.post-content ul,
.post-content ol,
.post-content dl {
    margin-bottom: var(--content-gap);
}

.post-content ul,
.post-content ol {
    padding-left: 20px;
}

.post-content li {
    margin-top: 5px;
}

.post-content li p {
    margin-bottom: 0;
}

.post-content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.post-content dt {
    width: 25%;
    font-weight: 400;
}

.post-content dd {
    width: 75%;
    margin-left: 0;
    padding-left: 10px;
}

.post-content dt~dt,
.post-content dd~dd {
    margin-top: 10px;
}

.post-content table {
    margin-bottom: 32px;
}

.post-content table th,
.post-content table:not(.highlighttable) td {
    min-width: 80px;
    padding: 12px 8px;
    line-height: 1.5;
    border-bottom: 1px solid var(--border);
}

.post-content table th {
    font-size: 14px;
    text-align: left;
}

.post-content table:not(.highlighttable) td code:only-child {
    margin-left: 0;
    margin-right: 0;
}

.post-content .highlight,
.post-content pre {
    margin-left: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);
    margin-bottom: 32px;
    background: var(--hljs-bg) !important;
    border-radius: var(--radius);
}

.post-content ul pre {
    margin-left: calc(var(--gap) * -2);
}

.post-content .highlight pre {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

/* table */
.post-content .highlighttable {
    table-layout: fixed;
}

.post-content .highlighttable td:first-child {
    width: 40px;
}

.post-content .highlighttable td .linenodiv {
    padding-right: 0 !important;
}

.post-content .highlighttable td .linenodiv pre,
.post-content .highlighttable td .highlight {
    margin-bottom: 0;
}

.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
    display: none;
}

/* inline */
.post-content .highlight span {
    background: transparent !important;
}

.post-content code {
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px 6px;
    font-family: Menlo, Monaco, 'Courier New', Courier, monospace;
    font-size: 0.78em;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: 2px;
}

.post-content pre code {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: var(--gap);
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    border-radius: 0;
}

.post-content blockquote {
    margin: 0 0 0 calc(var(--gap) * -1);
    padding: 0 0 0 21px;
    border-left: 3px solid var(--primary);
}

.post-content hr {
    height: 1px;
    margin-top: 56px;
    margin-bottom: 56px;
    background: var(--tertiary);
    border-top: 0;
    border-bottom: 0;
}

.post-content iframe {
    max-width: 100%;
}

.post-footer {
    margin-top: 56px;
}

.post-tags li {
    display: inline-block;
}

.post-tags li+li {
    margin-left: 3px;
}

.post-tags a {
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 34px;
    background: var(--code-bg);
    border-radius: 2px;
}

.post-tags a:hover {
    background: var(--border);
    color: white;
}

/* Icons
  ---------------------------------------------------*/
.icons {
    /* display: block !important; */
    font-size: 20px;
    color: var(--icons-color);
    line-height: 1.6em;
    display: inline-block;
    word-spacing: 10px;
}

.icons-header {
    font-size: 26px;
    color: var(--icons-color);
    line-height: 1.3;
    display: inline-block;
    word-spacing: 10px;
}

.linkedin:hover {
    color: white;
    /*Linkedin Color : 0e76a8*/
}

/* .feed:hover {
    color: #ee802f;
} */

/* Footer
  -------------------------------------------------- */
.footer {
    text-align: center;
    /* max-width: calc(var(--main-width) + var(--gap) * 2); */
    /* margin-left: auto;
    margin-right: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap); */
    color: var(--secondary);
    background-color: var(--footer-color);
    font-size: 15px;
    text-align: center;
    /* height: 400px; */
    width: 100%;
    height: 200px;
    position: absolute;
    /* line-height: 210px; */
}

/* #copyright {
    position: absolute;
    text-align: center;
    
  } */
.icons {
    position: relative;
    text-align: center;
    font-size: 22px;
    margin-top: 90px;
    /* line-height: 2.2; */
    margin-bottom: 5px;
    /* color: #8891B0; */
}

.footer span {
    margin-left: 1px;
    margin-right: 1px;
}

.footer a {
    color: inherit;
}

.footer a:hover {
    color: var(--primary);
    text-decoration: none !important;
}

/* 404
  -------------------------------------------------- */
.not-found {
    background-image: url('./lost.jpg');
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 160px;
    font-weight: 700;
}

/*NAV*/
.dayNight {
    padding: 0;
    border: none;
    background: none;
    color: white;
    outline: none;
}

.topnav {
    overflow: hidden;
    background-color: var(--theme-background);
}

.topnav a {
    float: right;
    display: block;
    color: var(--secondary);
    /*33333*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: var(--primary);
}

.topnav .icon {
    display: none;
}

.logoPosts {
    /* float: left !important;
    display: block !important;
    font-weight: bold;
    /* color: white !important; */
    /* font-size: 1.050em !important; */
    */
    /* font-family: 'Roboto', sans-serif; */
}

.postsButton {
    text-align: center;
    display: block;
    margin-top: 25px;
}

.postsButton span {
    background-color: var(--theme);
    padding-left: 15px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 22px;
}

.postsButton span:hover {
    border: var(--button-border);
    box-shadow: 0 0 9px rgba(33, 33, 33, .2);
}

.postsButton:active {
    transform: scale(0.96);
}

@media screen and (max-width: 600px) {
    .topnav {
        background-color: var(--theme-background);
    }

    .topnav a {
        color: var(--primary);
    }

    /*Everything in navbar except first child.*/
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: inline-block;
        text-align: left;
    }
}

#posts-head {
    font-size: medium;
    font-weight: normal;
    font-style: italic;
}